.container__content {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */

  gap: 20px; /* Espaçamento entre elementos */
}

.content__cover {
  display: flex;
  justify-content: center;
}

.content__cover > img {
  border: 4px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
  object-fit: cover; /* Garante que a imagem fique bem ajustada */
}

.content__description {
  text-align: center; /* Centraliza o texto */
  max-width: 600px; /* Define um limite para o texto */
}

.content__description > p {
  margin-top: 15px;
  color: rgb(198, 197, 197);
  line-height: 1.5; /* Melhor espaçamento entre linhas */
}
